@{
    ViewData["Title"] = "Quem Somos";
}

<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Nossa missão é levar esperança para quem precisa</h1>
                    <p class="lead fw-normal text-muted mb-4 text-justify">
                    Um dos principais problemas encontrados pelos refugiados em um novo país é o acesso à saúde básica. 
                    Pensando nisso, a Acalanto surge para conectar refugiados à uma rede de parceiros e voluntários do campo da saúde, 
                    quebrando, com isso, 
                    a primeira barreira para quem se sente totalmente perdido em um país que desconhece. 
                    </p>
                    <a class="btn btn-outline-primary btn-block" href="#scroll-target">Leia nossa história</a>  
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Primeira sessão -->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/Refu_5.jpeg" alt="Sorriso de mulher e criança" /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Nossa história:</h2>
                <p class="lead fw-normal text-muted mb-0 text-justify">
                Em 2021 através do projeto RecodePro formamos a iniciativa Acalanto e focamos em ajudar refugiados que estão passando por BoaVista - RR.
                De lá para cá já foram mais de 3000 consultas agendadas com nossa ajuda, 300 voluntários cadastrados entre profissionais de saúde e 
				ONGs parceiras e centenas de milhares de acessos buscando informação na nossa plataforma.
				</p>
            </div>
        </div>
    </div>
</section>
<!-- Segunda sessão-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/Refu_4.png" alt="Refugiados" /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Nossos Planos:</h2>
                <p class="lead fw-normal text-muted mb-0 text-justify">
                O maior propósito da nossa empresa é facilitar a vida dos usuários da Acalanto. Com a pandemia do coronavírus, houve um aumento exponencial de doenças psicológicas diagnosticadas no país, 53% dos residentes no Brasil afirmaram 
                que a pandemia os deixou mais infelizes segundo dados da BBC News Brasil. 
                Consequentemente, para o refugiado que não domina o português, tratamentos relacionados acabam se tornando um verdadeiro entrave. É por isso que não temos medido esforços para atrair cada vez mais voluntários do campo da psicologia
                e psiquiatria que dominam o espanhol e o guarani.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Squad-->
<section class="py-5 bg-light">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="fw-bolder">Nossa Equipe</h2>
        </div>
        <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/Ariomar.jpeg" alt="Ariomar de Deus Júnior" />
                    <h5 class="fw-bolder">Ariomar Júnior</h5>
                    <div class="fst-italic text-muted">Full Stack</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-xl-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/Celso.jpeg" alt="Celso Matias" />
                    <h5 class="fw-bolder">Celso Matias</h5>
                    <div class="fst-italic text-muted">Full Stack</div>
                </div>
            </div>
            <div class="col mb-5 mb-5 mb-sm-0">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/Ronald.jpeg" alt="Ronald" />
                    <h5 class="fw-bolder">Ronald Paixão</h5>
                    <div class="fst-italic text-muted">Full Stack</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/Paulo.jpeg" alt="Paulo" />
                    <h5 class="fw-bolder">Paulo</h5>
                    <div class="fst-italic text-muted">Full Stack</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/Leonardo.jpeg" alt="Leonardo" />
                    <h5 class="fw-bolder">Leonardo</h5>
                    <div class="fst-italic text-muted">Full Stack</div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="text-center">
                    <img class="img-fluid rounded-circle mb-4 px-4" src="/assets/Joel.jpeg" alt="Joel Germano" />
                    <h5 class="fw-bolder">Joel Germano</h5>
                    <div class="fst-italic text-muted">Full Stack</div>
                </div>
            </div>
        </div>
    </div>
</section>
       
