@model Refugiados.Models.Doacao

@{
    ViewData["Title"] = "Doe";
}

<h1>Nova Doação</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Doadora" class="control-label"></label>
                <input asp-for="Doadora" class="form-control" />
                <span asp-validation-for="Doadora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_Nascimento" class="control-label"></label>
                <input asp-for="Data_Nascimento" class="form-control" />
                <span asp-validation-for="Data_Nascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Doar" class="control-label"></label>
                <input asp-for="Doar" class="form-control" />
                <span asp-validation-for="Doar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="DOAR" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
